name: govwifi-terraform-linting
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - uses: Homebrew/actions/setup-homebrew@master
      - name: Install Required Packages
        run: |
          brew install tfenv grep findutils
          tfenv install $(cat .terraform-version)
          tfenv use $(cat .terraform-version)

      - uses: actions/cache@v4
        name: Cache plugin dir
        with:
          path: ~/.tflint.d/plugins
          key: ${{ runner.os  }}-tflint-${{ hashFiles('.tflint.hcl') }}

      - uses: terraform-linters/setup-tflint@v6
        name: Setup TFLint
        with:
          tflint_version: v0.60.0
          github_token: ${{ secrets.GITHUB_TOKEN }}
          cache: true

      - name: Show terraform version
        run: tfenv version-name

      - name: Show lint version
        run: tflint --version

      - name: Init TFLint
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          # 1. Initialize TFLint (Downloads plugins, reads config)
          tflint --init

          # 2. Set the custom PATH variable for 'make' (if necessary)
          export PATH="/usr/local/opt/findutils/libexec/gnubin:$PATH"

          # 3. Execute the linter via 'make lint'
          make lint

  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - uses: Homebrew/actions/setup-homebrew@master
      - name: Install Required Packages
        run: |
          brew install tfenv
          tfenv install $(cat .terraform-version)
          tfenv use $(cat .terraform-version)

      - name: Run Validator
        run: |
          for dir in govwifi/*;
          do
            cd $dir
            terraform init -backend=false
            echo "Validating $dir"
            terraform validate
            cd -
          done
